body, html {
    height: auto;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: quasimoda, sans-serif;
    font-style: normal;
    font-weight: 200;
}

#landingDiv {
    background-image: url("img/bg1-black.png");
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding-bottom: 1vw;
}

#header {
    padding-top: 1vw;
    color: #E6DDC5;
    font-size: 4vw;
    margin: 1vw 0;
}

#logoimg {
    width: 13vw;
    height: auto;
}

#subText {
    font-size: 2vw;
    color: white;
}

.waitlist-button {
    border: 2px solid #E6DDC5;
    border-radius: 80px;
    font-size: 2vw;
    padding: 1vw 2vw;
    text-decoration: none;
    color: #E6DDC5;
    margin: 30px;
    position: absolute;
    top: 1vw;
    right: 1vw;
}

.waitlist-button:hover {
    border: 2px solid white;
    color: white;
}

.waitlist-button-black {
    border: 2px solid black;
    border-radius: 80px;
    font-size: 2vw;
    padding: 1vw 2vw;
    text-decoration: none;
    color: black;
    margin-top: 1vw;
}

.waitlist-button-black:hover {
    border: 2px solid white;
    color: white;
}

.scroll-button {
    border: 2px solid #E6DDC5;
    border-radius: 80px;
    font-size: 1.5vw;
    padding: 1vw 2vw;
    text-decoration: none;
    color: #E6DDC5;
}

.scroll-button:hover {
    border: 2px solid white;
    color: white;
}

#socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 3vw;
}

#socials a img {
    width: auto;
    height: 3vw;
}

#bg2 {
    background-image: linear-gradient(to right, #E6DDC5, #968f7b);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#text-bg2 {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    font-size: 2vw;
    padding-right: 4vw;
}

#img-bg2 {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    gap: 30px;
}

.image-wrapper1 {
    display: inline-block;
    margin: 10px;
    position: relative;
    margin-right: 4vw;
}

.image-wrapper1::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border: 2px solid #E6DDC5;
    transform: rotate(-7deg);
    z-index: 2;
}

.image-wrapper1 img {
    display: block;
    object-fit: cover;
    width: 35vw;
    height: 22vw;
    transform: rotate(5deg);
}

.image-wrapper2 {
    display: inline-block;
    margin: 10px;
    position: relative;
    margin-left: 4vw;
}

.image-wrapper2::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border: 2px solid #E6DDC5;
    transform: rotate(1deg);
    z-index: 2;
}

.image-wrapper2 img {
    display: block;
    max-width: 35vw;
    height: auto;
    transform: rotate(-3deg);
}


#bg3 {
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 120px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

#bg4 {
    background-image: url("img/blond-girl-stock.jpg");
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.filter {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

h1 {
    color: #E6DDC5;
    font-size: 3vw;
    font-weight: 600;
}

